<div id="login">
  <p><img src="img/rabbitmqlogo.png" alt="RabbitMQ logo" width="204" height="37"/></p>

  <form action="#/login" method="put">
    <div id="login-status"></div>
    <table class="form">
      <tr>
        <th><label>用户名:</label></th>
        <td><input type="text" name="username"/><span class="mand">*</span></td>
      </tr>
      <tr>
        <th><label>密码:</label></th>
        <td><input type="password" name="password"/><span class="mand">*</span></td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td><input type="submit" value="登陆"/></td>
      </tr>
    </table>
  </form>
</div>
